.relative-line-numbers-mono {
    color: var(--color-accent);
    font-family: BerkeleyMono Nerd Font;
    font-weight: bolder;
    position:absolute;
    margin-left: 1em;
}

.cm-lineNumbers {
    font-family: BerkeleyMono Nerd Font;
}
